@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'FuentePersonalizada';
  src: url('../fonts/GandhiSans-Regular.otf') format('otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  box-sizing: border-box;
  /*-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
  font-family: "FuentePersonalizada", sans-serif!important;
}

body.dark {
  background: #374955!important;
  background-image: url("./../img/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body.dark .navbar-scroll {
  background: #000000!important;
  transition: 400ms ease all;
}
.banner .banner-content h1 {
  color: #f9f9f9;
  font-size: 62px;
  font-weight: 800;
  text-align: center;
}
button,
a {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  /* for button */
  -webkit-appearance: button;
  /* for input */
  -moz-user-select: none;
  -ms-user-select: none;
}

*:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  outline: none !important;
  outline-style: none !important;
  outline-color: transparent !important;
  box-shadow: none !important;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
  -webkit-text-decoration-color: #f9f9f9;
          text-decoration-color: #f9f9f9;
}

a:link,
a:visited,
a:active {
  text-decoration: none !important;
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.center-img {
  display: block;
  margin: 0 auto;
}
.background-img {
  background-image: url('../content/curso_1/background_spots.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  transition: 400ms ease all;
  background: #f9f9f9;
  background-image: url("./../img/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #2D2D2D;
  height: 100px;
  border-radius: 5px;
  opacity: 0.5;
}
body::-webkit-scrollbar-thumb:hover {
  background: #252525;
  opacity: 1;
}
body.dark {
  background: #2D2D2D;
  background-image: url("./../img/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body.dark::-webkit-scrollbar-thumb {
  background: #f9f9f9;
  height: 100px;
  border-radius: 5px;
  opacity: 0.5;
}
body.dark::-webkit-scrollbar-thumb:hover {
  background: #f5f5f5;
  opacity: 1;
}

.container {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding: 1rem 3rem;
  margin-top: 100px;
  overflow: hidden;
}

@media screen and (max-width: 720px) {
  .container {
    margin-top: 90px;
    padding: 1rem;
  }
}
.nav-bar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0rem;
  margin: 0;
  padding: 1rem 3rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: all 500ms ease-in-out 0s;
}
.nav-bar .btn-menu {
  width: 35px;
  height: 100%;
  display: none;
  padding: 0;
  margin: 0;
  z-index: 1001;
  cursor: pointer;
}
.nav-bar .btn-menu .nav-icon {
  height: 100%;
  position: absolute;
  top: 0;
  left: 1rem;
  z-index: 2;
  transform: rotate(0deg) scale(0.4);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.nav-bar .btn-menu .nav-icon span {
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  height: 9px;
  width: 60px;
  background: #2D2D2D;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
body.dark .nav-bar .btn-menu .nav-icon span {
  background: #f9f9f9;
}
.nav-bar .btn-menu .nav-icon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
.nav-bar .btn-menu .nav-icon span:nth-child(2) {
  top: 22px;
  transform-origin: left center;
}
.nav-bar .btn-menu .nav-icon span:nth-child(3) {
  top: 44px;
  transform-origin: left center;
}
.nav-bar .btn-menu-close .nav-icon span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
  background: #2D2D2D;
}
body.dark .nav-bar .btn-menu-close .nav-icon span:nth-child(1) {
  background: #f9f9f9;
}
.nav-bar .btn-menu-close .nav-icon span:nth-child(2) {
  width: 0%;
  opacity: 0;
  background: #2D2D2D;
}
body.dark .nav-bar .btn-menu-close .nav-icon span:nth-child(2) {
  background: #f9f9f9;
}
.nav-bar .btn-menu-close .nav-icon span:nth-child(3) {
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
  background: #2D2D2D;
}
body.dark .nav-bar .btn-menu-close .nav-icon span:nth-child(3) {
  background: #f9f9f9;
}
.nav-bar .logotipo {
  width: 155px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out 0s;
  margin-right: 75px;
}
.nav-bar .logotipo img {
  width: 100%;
}
.nav-bar .nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
}
.nav-bar .nav li a {
  display: flex;
  align-items: center;
  line-height: 3.4;
  position: relative;
  z-index: 1001;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #2D2D2D;
  transition: 0.5s all ease-out;
}
body.dark .nav-bar .nav li a {
  color: #f9f9f9;
  transition: 0.5s all ease-out;
}
.nav-bar .nav li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px;
  left: 0;
  background: #EED581;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  z-index: -1;
}
.nav-bar .nav li a:hover::before {
  visibility: visible;
  background: #EED581;
  transform: scaleX(1);
}
.nav-bar .nav li.active-menu a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0;
  background: #EED581;
  visibility: visible;
  transform: scaleX(1);
  transition: all 0.3s ease-in-out 0s;
  z-index: -1;
}


.nav-bar .mode {
  z-index: 2;
}

.navbar-scroll {
  width: 100%;
  height: 80px;
  top: 0rem;
  background: #f9f9f9;
  transition: 400ms ease all;
}
body.dark .navbar-scroll {
  background: #2D2D2D;
  transition: 400ms ease all;
}

@media screen and (max-width: 1096px) {
  .nav-bar {
    padding: 0 1rem;
  }
  .nav-bar .nav .logotipo {
    width: 155px;
    margin-right: 10px;
  }
  .nav-bar .nav .logotipo img {
    width: 100%;
  }
  .nav-bar .nav li a {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .nav-bar .mode {
    z-index: 2;
  }
}
@media screen and (max-width: 980px) {
  .nav-bar {
    width: 100%;
    height: 65px;
    padding: 0 1rem;
    outline: none !important;
    background: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 6px 2px rgba(100, 100, 100, 0.2) !important;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(100, 100, 100, 0.2) !important;
    -moz-box-shadow: 0px 0px 6px 2px rgba(100, 100, 100, 0.2) !important;
    transition: all 500ms ease-in-out 0s;
  }
  body.dark .nav-bar {
    background: #2D2D2D;
  }
  .nav-bar .btn-menu {
    display: block;
  }
  .nav-bar .logotipo {
    padding: 0;
    z-index: 1001;
    width: 75px;
  }
  .nav-bar .nav {
    transform: translateX(-110%);
    position: fixed;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: block;
    justify-content: initial;
    background: #f9f9f9;
    box-shadow: #2D2D2D;
    width: 60%;
    height: 95%;
    border-radius: 0 8px 8px 8px;
    left: 0;
    top: 65px;
    transition: all 500ms;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 6px 2px rgba(100, 100, 100, 0.2) !important;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(100, 100, 100, 0.2) !important;
    -moz-box-shadow: 0px 0px 6px 2px rgba(100, 100, 100, 0.2) !important;
  }
  body.dark .nav-bar .nav {
    background: #2D2D2D;
  }
  .nav-bar .nav li {
    width: 100%;
    height: auto;
  }
  .nav-bar .nav li a {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    line-height: 3.5;
    position: relative;
    z-index: 1001;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #2D2D2D;
    transition: 0.5s all ease-out;
  }
  body.dark .nav-bar .nav li a {
    color: #f9f9f9;
  }
  .nav-bar .nav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background: #EED581;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    z-index: -1;
  }
  body.dark .nav-bar .nav li a::before {
    color: #2D2D2D;
  }
  .nav-bar .nav li a:hover::before {
    visibility: visible;
    background: #EED581;
    transform: scaleX(1);
  }
  .nav-bar .nav li.active a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    left: 0;
    background: #2D2D2D;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s;
    z-index: -1;
  }
  .nav-bar .nav li.active a:hover {
    color: #f9f9f9;
    transition: all 0.3s ease-in-out 0s;
  }
  body.dark .nav-bar .nav li.active a:hover {
    color: #f9f9f9;
  }
  .nav-bar .mode {
    z-index: 1001;
    padding: 0;
  }
  .toggle-menu {
    transition: all 500ms;
    transform: translateX(0%) !important;
  }
  .navbar-scroll {
    height: 60px;
    transition: all 500ms ease-in-out 0s;
  }
  .navbar-scroll .nav li a {
    color: #f9f9f9;
  }
  body.dark .navbar-scroll .nav li a {
    color: #f9f9f9;
  }
  .navbar-scroll .nav li a:hover::before {
    background: #2D2D2D;
  }
  body.dark .navbar-scroll .nav li a:hover::before {
    background: #f9f9f9;
  }
  .navbar-scroll .nav li.active a:hover {
    color: #f9f9f9;
  }
  body.dark .navbar-scroll .nav li.active a:hover {
    color: #f9f9f9;
  }
  .navbar-scroll .nav li.active a:hover::before {
    background: #2D2D2D;
  }
  body.dark .navbar-scroll .nav li.active a:hover::before {
    background: #f9f9f9;
  }
}
@media screen and (max-width: 460px) {
  .nav-bar .logotipo {
    padding: 0;
    z-index: 1001;
    width: 75px;
  }
}
.switch {
  background: #2D2D2D;
  border-radius: 1000px;
  border: 1px solid #2D2D2D;
  position: relative;
  cursor: pointer;
  display: flex;
}
.switch::after {
  content: "";
  display: block;
  width: 27.5px;
  height: 27.5px;
  position: absolute;
  background: #f9f9f9;
  top: 0;
  left: 0;
  right: unset;
  border-radius: unset;
  border-radius: 100px;
  transition: 200ms ease all;
}
.switch.active {
  background: #EED581;
  border: 1px solid #f9f9f9;
}
.switch.active::after {
  transform: translateX(100%);
}
.switch span {
  width: 27.5px;
  height: 27.5px;
  line-height: 27.5px;
  display: block;
  background: none;
  color: #f9f9f9;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 640px;
  height: 100%;
  padding: 2rem;
  margin-bottom: 250px;
  color: #f9f9f9;
}
.banner .banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
}
.banner .banner-content {
  position: relative;
  z-index: 2;
}
.banner .banner-content h1 {
  color: #f9f9f9;
  font-size: 62px;
  font-weight: 800;
}
.banner .banner-content h2 {
  color: #f9f9f9;
  font-size: 42px;
  font-weight: 600;
}
.banner .banner-content p {
  color: #f9f9f9;
}
.banner .banner-content p::after {
  content: "";
}
.banner .banner-content button {
  color: #f9f9f9;
  border: #f9f9f9 1px solid;
  font-size: 20px;
  padding: 1rem 2rem;
  margin: 1.5rem 1rem;
  border-radius: 8px;
}
.banner .banner-content .list {
  line-height: 2;
}
.banner .banner-content .list .title i {
  padding-right: 4px;
}
.banner .banner-content .list .title span {
  padding-left: 28px;
}
.banner .banner-content .list .content {
  padding-left: 36px;
}
.banner .shadow {
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: -35%;
  right: -6%;
  z-index: 1;
}

@media screen and (max-width: 720px) {
  .banner {
    width: 100%;
    min-height: calc(100vh - 80px);
    height: 100%;
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .banner .banner-content {
    color: #f9f9f9;
    padding-left: 0rem;
  }
  .banner .banner-content h1 {
    color: #f9f9f9;
    font-size: 42px;
    font-weight: 600;
  }
  .banner .banner-content h2 {
    color: #f9f9f9;
    font-size: 32px;
    font-weight: 400;
  }
  .banner .banner-content p {
    color: #f9f9f9;
  }
  .banner .banner-content p::after {
    padding-left: 1rem;
    content: "  ---->";
  }
  .banner .banner-content button {
    color: #f9f9f9;
    border: #f9f9f9 1px solid;
    font-size: 18px;
    padding: 0.75rem 1.5rem;
    margin: 2rem 0;
    border-radius: 8px;
  }
  .banner .banner-content .list {
    line-height: 2;
  }
  .banner .banner-content .list .title i {
    padding-right: 4px;
  }
  .banner .banner-content .list .title span {
    padding-left: 28px;
  }
  .banner .banner-content .list .content {
    padding-left: 36px;
  }
  .banner .shadow {
    display: none;
  }
}
.form-container {
  width: 30%;
}
.form-container .form .form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}
.form-container .form .form-group .form-field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #f9f9f9;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form-container .form .form-group .form-field::-moz-placeholder {
  color: transparent;
}
.form-container .form .form-group .form-field:-ms-input-placeholder {
  color: transparent;
}
.form-container .form .form-group .form-field::placeholder {
  color: transparent;
}
.form-container .form .form-group .form-field:-moz-placeholder-shown ~ .form-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form-container .form .form-group .form-field:-ms-input-placeholder ~ .form-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form-container .form .form-group .form-field:placeholder-shown ~ .form-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form-container .form .form-group .form-field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-color: #EED581;
  border-image-slice: 1;
}
.form-container .form .form-group .form-field:focus ~ .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #EED581;
  font-weight: 600;
}
.form-container .form .form-group .form-field:focus ~ .form-icon {
  transition: 0.2s;
  color: #EED581;
}
.form-container .form .form-group .form-field:required {
  box-shadow: none;
}
.form-container .form .form-group .form-field:invalid {
  box-shadow: none;
}
.form-container .form .form-group .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #f9f9f9;
}
.form-container .form .form-group .form-icon {
  position: absolute;
  top: 45%;
  right: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.25rem;
  color: #f9f9f9;
}
.form-container .form .checkbox {
  color: #f9f9f9;
  padding: 1rem 0;
}
.form-container .form .link {
  color: #f9f9f9;
  padding-top: 1.5rem;
  text-align: center;
}
.form-container .form .btn-send {
  color: #f9f9f9;
  border: #f9f9f9 1px solid;
  font-size: 20px;
  padding: 1rem 2rem;
  margin: 1.5rem 0;
  border-radius: 8px;
}
.form-container .form input, .form-container .form textarea {
  border: none;
  border-bottom: 2px solid #2D2D2D;
  color: #EED581;
  transition: all ease-in 300ms;
  border-radius: 0;
  outline: none;
  outline-style: none;
}
.form-container .form input:focus, .form-container .form textarea:focus {
  border-bottom: 2px solid #EED581;
  color: #EED581;
  transition: all ease-in 300ms;
  outline: none;
  outline-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

@media screen and (max-width: 720px) {
  .form-container {
    width: 100%;
  }
}/*# sourceMappingURL=estilos.css.map */
@media screen and (max-width: 980px){
body.dark .nav-bar {
    background:black!important;
}

