

.swal-bg-custom-error {
    /* background-image: linear-gradient(to bottom, #ffffff, #cccccc); */
    background-image: url('../img/Alerts/error/fondo_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    border-radius: 0;    
    /* transform: skew(320deg); */
}

  .swal-content-text-title-custom-error {
    /* transform: skew(41deg); */
    color:black;

  }
  
  .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0;
    background: initial;
    background-color: black;
    color: #fff;
    font-size: 1em;
    /* color:#F5BE7A; */
  }
  .swal2-styled.swal2-confirm:hover {
    border: 0;
    border-radius: 0;
    background: initial;
    background-color: black;
    color: #fff;
    font-size: 1.01em;
    color:#F5BE7A;
    font-weight: bold;


  }
  .swal-content-text-text-custom-error{
    /* transform: skew(41deg); */
    color:black;
    
  }